/* Element positioning */
body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}
svg {
	z-index: -1;
	width: 100%;
	height: 101vh;
	position: absolute;
}

.content{
  color: #FFFFFF;
  margin-top: 300px;
	text-align: center;
  animation: fadeIn 2s;
}

@keyframes fadeIn{
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.buttons{
  margin-top: 30px;
}

button {
  margin-top: 10px;
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 400px;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

a{
  color: white;
}